/* CSS reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; }

#switch {
  display: none; }

label, .toggle {
  height: 2.8rem;
  border-radius: 100px; }

label {
  width: 200px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 100px;
  position: relative;
  display: block;
  margin: 3rem auto;
  cursor: pointer; }

.toggle {
  position: absolute;
  width: 50%;
  background: linear-gradient(40deg, #FF0080, #FF8C00 70%);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94); }

.names {
  font-weight: bolder;
  width: 65%;
  margin-left: 17.5%;
  margin-top: 4.5%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  user-select: none; }

.light {
  color: #fff; }

.dark {
  opacity: .5; }

#switch:checked ~ label .toggle {
  background: linear-gradient(40deg, #8983F7, #A3DAFB 70%);
  color: #fff;
  transform: translateX(100%); }
  #switch:checked ~ label .toggle .names .light {
    opacity: 0.5;
    color: #000; }
  #switch:checked ~ label .toggle .names .dark {
    opacity: 1;
    color: #fff; }

#switch:checked ~ .container {
  background-color: #26242E;
  border: 3rem solid #26242E;
  transition: all 0.3s;
  color: #fff; }
  #switch:checked ~ .container a {
    color: #fff; }

.section--heading {
  font-size: 2.5rem;
  text-align: center;
  margin: 0 0 2rem 0; }

.media-container {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  max-width: 100%;
  height: auto; }
  .media-container iframe, .media-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.opinion {
  padding: 1rem; }
  .opinion--container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap; }
  .opinion--link {
    text-decoration: none;
    color: #000; }
  @media (min-width: 56.25em) {
    .opinion--feature:not(:last-child) {
      border-bottom: 2px solid #26242E;
      padding: 0 0 1rem 0; } }
  .opinion--feature {
    position: relative;
    margin: 1rem 0;
    flex: 1 1 33.33%; }
    @media (min-width: 56.25em) {
      .opinion--feature {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex: 1 1 100%; } }
    .opinion--feature__img {
      display: none; }
      @media (min-width: 56.25em) {
        .opinion--feature__img {
          display: block;
          height: 5rem;
          border-radius: 50%; } }
    .opinion--feature__heading {
      font-size: 1.8rem; }
    .opinion--feature__date {
      font-size: 1.2rem; }
    .opinion--feature__author {
      font-size: 1.6rem;
      margin: 0.5rem 0; }

.header {
  text-align: center;
  font-size: 1.6rem;
  border-bottom: 1px solid #26242E;
  margin: 0 auto 2rem auto;
  max-width: 1000px; }
  .header--title {
    font-size: 3rem;
    padding: 0 0 1rem 0;
    letter-spacing: 1px; }
    @media (min-width: 56.25em) {
      .header--title {
        font-size: 5rem; } }
  .header--date {
    font-size: 1.8rem;
    font-weight: 100; }
    @media (min-width: 56.25em) {
      .header--date {
        font-size: 2.1rem; } }

.nav {
  padding: 2rem 0 0 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  cursor: pointer; }
  .nav--item {
    margin: 0 0.5rem;
    padding: 1rem 1rem 0 1rem;
    border: 1px solid transparent; }
    .nav--item:hover {
      background-color: #D3D3D3;
      color: #fff;
      border-top: 1px solid #000;
      border-right: 1px solid #000;
      border-left: 1px solid #000; }
    .nav--item__link {
      color: #000;
      text-decoration: none; }

.advertisment {
  position: relative;
  max-width: 1000px;
  display: block;
  margin: 0 auto; }
  .advertisment--img {
    width: 100%;
    height: auto; }

.container {
  border: 3rem solid #fff;
  background-color: #fff; }

.main {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto; }
  @media (min-width: 56.25em) {
    .main {
      flex-direction: row; } }
  @media (min-width: 56.25em) {
    .main .article {
      width: 75%; } }
  @media (min-width: 56.25em) {
    .main .aside {
      width: 25%; } }
