.video{
	position: relative;
	padding-bottom: 56.25%;
	overflow: hidden;
	max-width: 100%;
	height: auto;
	
	&--iframe{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.opinion{

	padding: 1rem;

	&--link{
		text-decoration: none;
		color: $black;
	}

	&--feature{
		position: relative;
		margin: 1rem 0;

		@include breakpoint(medium){
			text-align: center;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
		
		&__img{
			display: none;
			
			@include breakpoint(medium){
				display: block;
				height: 5rem;
				border-radius: 50%;
			}
		}


		&__heading{
			font-size: 1.8rem;
		}

		&__date{
			font-size: 1.2rem;

		}

		&__author{
			font-size: 1.6rem;
			margin: 0.5rem 0;
		}
	}
}