.media-container{
	position: relative;
	padding-bottom: 56.25%;
	overflow: hidden;
	max-width: 100%;
	height: auto;
	
	iframe, img{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.opinion{

	padding: 1rem;

	&--container{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&--link{
		text-decoration: none;
		color: $black;
	}

	&--feature:not(:last-child){
		@include breakpoint(medium){
			border-bottom: 2px solid $dark;
    		padding: 0 0 1rem 0;
		}
	}

	&--feature{
		position: relative;
		margin: 1rem 0;
		flex: 1 1 33.33%;

		@include breakpoint(medium){
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			text-align: center;
			flex: 1 1 100%;
		}
		
		&__img{
			display: none;
			
			@include breakpoint(medium){
				display: block;
				height: 5rem;
				border-radius: 50%;
			}
		}


		&__heading{
			font-size: 1.8rem;
		}

		&__date{
			font-size: 1.2rem;

		}

		&__author{
			font-size: 1.6rem;
			margin: 0.5rem 0;
		}
	}
}