.feature{

	font-size: 1.6rem;
	margin: 1rem 0 2rem 0;
	padding: 0 0 2rem 0;
	box-shadow: $shadow;

	&--story{

		&__author{
			margin: 0.5rem 0;
			padding: 0 1rem;
		}

		&__date{
			margin: 0.5rem 0;
			padding: 0 1rem;
		}

		&__paragraph{
			margin: 1rem 0;
			padding: 0 1rem;
		}

		.btn{
			padding: 0 1rem;

			&:hover:after{
				width: 80%; 
				left: 10%; 
			}
		}
	}
}