/* CSS reset */
*, 
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

// Colors

$white: #fff;
$black: #000;
$grey: #D3D3D3;

$dark: #26242E;

html{
	/* this is the root font size so now 1 rem equals 10px
	font-size: 10px;
	changing it to percentage allow for people with poor or limited eye sight to have a better
	experience when viewing website */
	font-size: 62.5% ;
}


body{
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

